In [2]:


import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia',
                      'Dima',
                      'Katherine',
                      'James',
                      'Emily',
                      'Michael',
                      'Matthew',
                      'Laura',
                      'Kevin',
                      'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, labels)
print(df.head(3))

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [3]:


import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia',
                      'Dima',
                      'Katherine',
                      'James',
                      'Emily',
                      'Michael',
                      'Matthew',
                      'Laura',
                      'Kevin',
                      'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, labels)
df=df.dropna()
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [4]:


import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia',
                      'Dima',
                      'Katherine',
                      'James',
                      'Emily',
                      'Michael',
                      'Matthew',
                      'Laura',
                      'Kevin',
                      'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, labels)
ad=df[["name","score"]]
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [6]:


import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia',
                      'Dima',
                      'Katherine',
                      'James',
                      'Emily',
                      'Michael',
                      'Matthew',
                      'Laura',
                      'Kevin',
                      'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, labels)
data={"name" : "Suresh", "score": 15.5, "attempts": 1, "qualify": "yes"}
newlabel=["k"]
df1=pd.DataFrame(data,newlabel)
data1=pd.concat([df,df1])
print(data1)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

In [7]:


import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia',
                      'Dima',
                      'Katherine',
                      'James',
                      'Emily',
                      'Michael',
                      'Matthew',
                      'Laura',
                      'Kevin',
                      'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, labels)
df=df.drop("attempts",axis=1)
print(df)

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

In [9]:


import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia',
                      'Dima',
                      'Katherine',
                      'James',
                      'Emily',
                      'Michael',
                      'Matthew',
                      'Laura',
                      'Kevin',
                      'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, labels)
df.loc[df['score']<10,"Success"]=0
df.loc[df['score']>10,"Success"]=1
print(df)

        name  score  attempts qualify  Success
a  Anastasia   12.5         1     yes      1.0
b       Dima    9.0         3      no      0.0
c  Katherine   16.5         2     yes      1.0
d      James    NaN         3      no      NaN
e      Emily    9.0         2      no      0.0
f    Michael   20.0         3     yes      1.0
g    Matthew   14.5         1     yes      1.0
h      Laura    NaN         1      no      NaN
i      Kevin    8.0         2      no      0.0
j      Jonas   19.0         1     yes      1.0

In [13]:


import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia',
                      'Dima',
                      'Katherine',
                      'James',
                      'Emily',
                      'Michael',
                      'Matthew',
                      'Laura',
                      'Kevin',
                      'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, labels)
df.loc[df['score']<10,"Success"]=0
df.loc[df['score']>10,"Success"]=1
df.to_csv('my_data')
my_data=pd.read_csv('my_data')
print(my_data)

  Unnamed: 0       name  score  attempts qualify  Success
0          a  Anastasia   12.5         1     yes      1.0
1          b       Dima    9.0         3      no      0.0
2          c  Katherine   16.5         2     yes      1.0
3          d      James    NaN         3      no      NaN
4          e      Emily    9.0         2      no      0.0
5          f    Michael   20.0         3     yes      1.0
6          g    Matthew   14.5         1     yes      1.0
7          h      Laura    NaN         1      no      NaN
8          i      Kevin    8.0         2      no      0.0
9          j      Jonas   19.0         1     yes      1.0